<div id="app-header">
  Full Stack App Demo
</div>
<nav mat-tab-nav-bar>
  <a mat-tab-link
     [routerLink]="['', 'player-summary']"
     routerLinkActive="active-tab"
     (click)="setActiveTab()"
     [ngClass]="{'active-tab': currentTab === tab.FRONTEND}">
    Frontend
  </a>
  <a mat-tab-link
     [routerLink]="['', 'player-summary-api']"
     routerLinkActive="active-tab"
     (click)="setActiveTab()"
     [ngClass]="{'active-tab': currentTab === tab.BACKEND}">
    Backend
  </a>
</nav>

<router-outlet></router-outlet>
